body {
    background-color: #D8D2CB;
    }
hr {
  background-color: #464E2E;
  border-style: none;
  height: 2px;
  border-width: 2px;
  }
h3 {
  color: #F76E11;
}
h1 {
  color: #F76E11;
  font-family: "Lucida Handwriting", Arial, sans-serif;
}
